ul.menu { 
          list-style: none; 
          padding: 0px; 
          margin: 0px; 
        }

ul.menu li { 
             border: solid;
             background-color: lightgray; 
             border-width: 1px 1px 1px 1px;
             margin: 0 0.2em;
	     font-weight: bold;
             cursor: pointer;
      }
.menu li:hover {
	     background-color:lightgreen;
      } 
ul.tabmenu li { 
             display: inline;
             border: solid;
             background-color: lightgray; 
             border-width: 1px 1px 1px 1px;
             margin: 0 0.2em;
	     font-weight: bold;
      }

.menu li a { 
      text-decoration: none; 
      color: black; 
      cursor: default;
      padding: 0 0.1em ;        
}

.menu li.selected  { 
    background-color: lightblue;
}

.menu {
	position: absolute;
	top: 2em;
	left: 0;
	width: 20em; 
}

.tabmenu {
	position: absolute;
	top: 10px;
	left: 20em;
	width: 100%; 
}

.plotframe {
	position: absolute;
	top: 3em;
	left: 20em;
/*	width: 100%; */
}

iframe {
    border: 0px;
    margin: 0;
    padding: 0;
}


.padframe {
	margin-top: 2em;
}

    .ERROR { color:red; }
    .NOERROR { color:black; }
    .RUNNING  { background-color: #00FF33; }
    .PAUSED { background-color:#00FF33; }
    .READY { background-color:#00FF33; }
    .ROIBSTOPPED { background-color:#00FF33; }
    .L2SVSTOPPED  { background-color:#00FF33; }
    .L2STOPPED  { background-color:#00FF33; }
    .EBSTOPPED  { background-color:#00FF33; }
    .EFSTOPPED { background-color:#00FF33; }
    .SFOSTOPPED { background-color:#00FF33; }
    .GTHSTOPPED { background-color:#00FF33; }
    .UP { background-color:#00FF33; }
    .CONNECTED { background-color:#FFCC33; }
    .CONFIGURED { background-color:yellow; }
    .BOOTED { background-color:#DDDDDD; }
    .NONE  { background-color:#DDDDDD; }
    .INITIAL { background-color:#66FFFF; }
    .ABSENT { background-color:#666666; }
